
.card_container {
    border: 2px solid white;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    margin-top: 56px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: -8px 9px 16px -3px gray;
    background: #171738;
}

.card_background {
    z-index: 0;
    height: 500px;
    margin: 20px 20px 0 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    background-color: #B8D0EB;
}

.card_frame {
    z-index: 1;
    position: relative;
    height: 116%;
    max-width: 97%;
    left: 1%;
    top: 0.5%;
    left: 1.2%;
    display: flex;
    flex-direction: column;
}

.frame_art {
    height: 50%;
    margin: 0 10px;
}

/* Borders */

.frame_header, .frame_type_line {
    border-bottom: 4px solid #a9a9a9;
    border-left: 2px solid #a9a9a9;
    border-top: 1px solid #fff;
    border-right: 2px solid #fff;
}

.frame_header, .frame_art, .frame_type_line {
    box-shadow: 0 0 0 2px #171738, 0 0 0 5px #1768AC, -3px 3px 2px 5px #171738;
    margin-bottom: 7px;
}

.frame_text_box {
    box-shadow: 0 0 0 5px #1768AC, -3px 3px 2px 5px #171314;
}

/* Overflow */
.frame_header, .frame_type_line, .frame_text_box {
    overflow: hidden;
}

.frame_header, .frame_type_line {
    background: linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ), url(https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?t=st=1740455505~exp=1740459105~hmac=4bc4f36e986aaed29f2e2e7d9ff675013b8fbb4359d0b61087f68d131f6d3a0a&w=996); 
    display: flex;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 5px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    border-radius: 18px/40px;
}

.name, .type {
    font-size: 1.3em;
    margin-top: 5px;
    margin-left: 10px;
    align-self: baseline;
    font-weight: 600;
}

.frame_type_line {
    margin-top: 0;
}

.frame_text_box {
    margin: 0 10px;
    background: #d3ded6;
    background-image: url(https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?t=st=1740455505~exp=1740459105~hmac=4bc4f36e986aaed29f2e2e7d9ff675013b8fbb4359d0b61087f68d131f6d3a0a&w=996);
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    padding: 50px 6px;
    box-sizing: border-box;
    font-size: 1.2em;
}

p {
    margin-bottom: 5px;
}

.ftb_inner_margin {
    margin: 5px 1px;
}

.frame_bottom_info {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 0 15px; 
}