.register-container {
    display: block;
    background-color: white;
    padding: 10px;
    border: 1px solid #28502E;
    height: 70%;
    width: 40%;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px; 
}

.register-container h1 {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #749c28;
}

label {
    margin-bottom: 2px;
}

input[type=text], input[type=password], input[type=email] {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #28502E;
    text-align: center;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20%;
    height: auto;
}

