<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../staticfiles/css/navbar.css">
    <link rel="stylesheet" href="../staticfiles/css/page.css">
    <link rel="stylesheet" href="../staticfiles/css/avatar.css">
    <link rel="stylesheet" href="../staticfiles/css/button.css">
    <title>Home</title>
</head>
<body>
    <div id="myNavbar" class="navbar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </div>

    <div id="main">
        <!-- Main Page content will go here and all content will be pushed to the side -->
        <span style="font-size:30px;cursor:pointer;color: #FEFAE0;" onclick="openNav()">&#9776;</span>
        <div class="avatar">
            <img src="../staticfiles/photos/default.png" alt="avatar">
            <p>Username</p>
        </div>
    
        <div class="home_buttons"> 
            <button class="image-button"></button>
        </div>  
    
    </div>
</body>
    <script src="../staticfiles/js/navbar.js"></script>
</html>