<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../staticfiles/css/navbar.css">
    <link rel="stylesheet" href="../staticfiles/css/page.css">
    <link rel="stylesheet" href="../staticfiles/css/avatar.css">
    <link rel="stylesheet" href="../staticfiles/css/button.css">
    <link rel="stylesheet" href="../staticfiles/css/centered.css">
    <script src="../staticfiles/js/navbar.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div id="myNavbar" class="navbar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </div>

    <div id="main">
        <!-- Main Page content will go here and all content will be pushed to the side -->
        <span style="font-size:30px;cursor:pointer;color: #FEFAE0;" onclick="openNav()">&#9776;</span>
        <div class="container mt-3">
            <div class="centered">
                <div class="avatar">
                        <img src="../staticfiles/photos/default.png" alt="avatar">
                        <p>Username</p>
                </div>
                <button type="button" class="btn btn-primary active">Scan QR Code</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>