<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/page.css' %}">
    <link rel="stylesheet" href="{% static '/css/centered.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/inventory_files/inventory_container.css' %}">
    <link rel="stylesheet" href="{% static '/css/inventory_files/inventory_grid.css' %}">
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css">
    <link rel="icon" href="data:,">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <title>Inventory</title>
</head>
<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-menu-hamburger-1"></i>
                </button>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="{% url 'homepage' %}" class="sidebar-link">
                        <i class="lni lni-user-4"></i>
                        <span>Homepage</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-gear-1"></i>
                    <span>Settings</span>
                </a>
                <a href="{% url 'landing' %}" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main p-3">
            <div class="inventory_header">
                <div class="centered">
                    <h1> Inventory </h1>
                    <p>
                        All of the cards collected by {{ user.username }}.
                    </p>
                </div>
            </div>
            {% if cards %}
                <ul class="card-grid">
                    {% for card in cards %}
                    <li>
                        <div class="card">
                            <div class="bar bar-top">
                                <div class="card-title">{{ card.card_name }}</div>
                                <div class="casting-cost">{{ card.value }}</div>
                            </div>
                            <div class="card-image">
                                <img src= "{% static card.image_path %}" alt="card image">
                            </div>
                                <div class="bar bar-mid">
                                    <div class="card-title">Instant</div>
                                </div>
                            <div class="card-text">
                                <div class="card-ability">
                                    {{card.card_desc}}
                                </div>
                            </div>
                            <div class="footer">
                                <div class="author">Created by Breadscrums.</div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="inventory_header">
                    <h1>Inventory</h1>
                    <p>
                        Looks like there are no cards here...
                    </p>
                </div>
            {% endif %}
            </div>
        </div>
    <script src="{% static 'bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>