{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/page.css' %}">
    <link rel="stylesheet" href="{% static '/css/avatar.css' %}">
    <link rel="stylesheet" href="{% static '/css/centered.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <title>Leaderboard - EcoGo</title>
</head>

{% block content %}
<div style="
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    background: rgb(233, 233, 233);
    padding: 15px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
">
    <h1 style="color: #333;">🏆 Leaderboard 🏆 </h1>
    {% for player in top_10_users %}
    <div style="
        display: flex;
        align-items: center;
        background: #f9f9f9;
        padding: 10px 15px;
        margin: 10px 0;
        border-radius: 8px;
        box-shadow: 0px 2px 5px rgba(1, 59, 14, 0.1);
        width: 100%;
    ">
        <span style="color: #4CAF50; font-weight: bold;">#{{ forloop.counter }}</span>
        <span style="flex-grow: 1; text-align: center; font-weight: bold;">{{ player.username }}</span>
        <span style="font-weight: bold; color: #333;">Lvl {{ player.level }}</span>
    </div>
    {% empty %}
    <p>No scores available yet!</p>
    {% endfor %}
</div>
{% endblock %}
</html>
