<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/page.css' %}">
    <link rel="stylesheet" href="{% static '/css/avatar.css' %}">
    <link rel="stylesheet" href="{% static '/css/centered.css' %}">
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css" />
    <script src="{% static '/js/navbar.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static '/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.min.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static '/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css' }%">
    <title> Inventory</title>
</head>
<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-menu-hamburger-1"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">EcoGo</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" onclick="window.location.href='homepage';">
                        <i class="lni lni-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <!--
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" onclick="window.location.href='{% url 'shop' %}'">
                        <i class="lni lni-cart"></i>
                        <span>Shop</span>
                
                    </a>
                </li>
                -->
                <!-- Add other sidebar items here -->
            </ul>
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-gear-1"></i>
                    <span>Settings</span>
                </a>
                <a href="{% url 'landing' %}" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>
        <div class="main p-3">
            <header>
                <h1>Inventory</h1>
            </header>
                <button type="button" class="btn btn-primary" id="homeButton">Home</button>
            <!-- <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'shop' %}'">Shop</button> -->
            <main>
                <div id="filters">
                    <select id="sort-options" class="form-select">
                        <option value="name">Sort by Name</option>
                        <!-- OTHER OPTIONS HERE -->
                    </select>
                </div>
                <div id="inventory-grid">
                    <!-- Cards dynamically inserted here -->
                </div>
            </main>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/inventory.js' %}"></script>
</body>
</html>