

/* Importing custom font */
@font-face {
    font-family: 'GameFont';
    src: url('../atarian_font/Atarian/SF_Atarian_System_Extended.ttf');
}

.avatar {
    margin-top: 15px;
}

.avatar img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transition: 0.3s ease; 
}

.avatar img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.avatar p {
    font-family: GameFont, Verdana, Geneva, Tahoma, sans-serif; /*Using Arial as backup font */
    font-size: 22px;
    margin-top:10px;
    color: #FEFAE0;
}

