<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/page.css' %}">
    <link rel="stylesheet" href="{% static '/css/avatar.css' %}">
    <link rel="stylesheet" href="{% static '/css/centered.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <title>Trading Room</title>
    <script>
        const room_name = "{{ room_name }}"
        const user_type = "{{ user }}"
        var state = "W"
        let socket = new WebSocket("//127.0.0.1:8000/ws/trading/")
    </script>
</head>
<body>
    <h1>Trading Room: {{ room_name }}, User role: {{ user }}</h1>
    <script src="{% static 'js/trading.js' %}"></script>
</body>

</html>
