:root {
    --card-border-color: #000;
    --card-border-thickness: 14px;
    --card-border-radius: 10px;
    --bars-background: #debca7;
    --inner-borders-color: #bd4129;
    --inner-borders-thickness: 3px;
}

* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    background: #222;
    min-height: 100vh;
}

.card-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding: 20px;
    position: relative;
    flex-wrap: wrap;
}

#owner-container,
#member-container {
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.divider {
    width: 4px;
    background-color: black;
    height: auto;
    align-self: stretch;
}

.trading_header {
    color: white;
    font-family: GameFont, Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.trading_header h1 {
    color: white;
    font-family: GameFont, Verdana, Geneva, Tahoma, sans-serif;
}

.card-container {
    position: relative;
    flex: 1 1 calc(33.33% - 20px);
    max-width: 300px; 
    min-width: 200px; 
}
  
.card {
    width: 100%;
    height: auto;
    margin: 10px;
    box-shadow: inset 0 0 0 var(--card-border-thickness) var(--card-border-color);
    border-radius: var(--card-border-radius);
    padding: var(--card-border-thickness);
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bars-background);
    margin: 7px;
    margin-bottom: 0;
    padding: 1px 4px;
    box-shadow: 0 0 0 var(--inner-borders-thickness) var(--inner-borders-color);
    border-radius: 3px / 10px;
}
  
.bar-top {
    margin-top: 10px;
}
  
.card-title {
    margin-left: 5px;
    padding-top: 5px;
    letter-spacing: 1px;
}
  
.casting-cost {
    margin-right: 5px;
    display: flex;
    gap: 2px;
}
  
.card-image {
    position: relative;
    margin: 0 12px;
    margin-top: var(--inner-borders-thickness);
    margin-bottom: calc(-1 * var(--inner-borders-thickness) - 1px);
    height: 188px;
    box-shadow: 0 0 0 var(--inner-borders-thickness) var(--inner-borders-color);
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bar-mid {
    margin-bottom: var(--inner-borders-thickness);
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 0 12px;
    height: 115px;
    box-shadow: 0 0 0 var(--inner-borders-thickness) var(--inner-borders-color);
    background-color: var(--bars-background);
}
  
.card-ability {
    font-size: 13px;
    line-height: 1;
}
  
.card-quote {
    font-style: italic;
    font-size: 12px;
    line-height: 1;
}
  
.footer {
    margin-top: 7px;
    margin-left: 10px;
}
  
.author {
    font-weight: bold;
    font-size: 10px;
}

.selected {
    opacity: 0.5;
    transition: opacity .5s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .card-container {
        flex: 1 1 calc(50% - 20px); /* Two cards per row */
    }
}

@media screen and (max-width: 768px) {
    .card-container {
        flex: 1 1 100%; /* One card per row */
    }

    #owner-container, #member-container {
        width: 100%; /* Full width containers */
    }

    .divider {
        display: none; /* Hide divider on small screens */
    }
}